
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height:500px;
    
}

.main__title{
    color: white;
    background-color: rgb(80, 182, 50);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    margin: 0;
}

.main__first-sub{
    padding: 0px;
  position: absolute;
}

.main__first-sub li{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    line-height: 2.0;
    margin: 0;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:black;
    padding-left: 10px;
    display: none;
    border:white solid 1px;
    width: 100%;
    background-color: rgb(80, 182, 50);
    z-index: 1;
    
}

.main__first-sub li:hover{
   color:white ;
   border: black solid  1px;
   transition: 0.3s;
}

.main__first {
    list-style-type: none;
    color: rgb(80, 182, 50);
    padding: 0;
    font-size: x-large;
    margin: 5px,0px,5px,0px;
    position: relative;
}

.main__first:hover li{
    display: block;
}

.main__second{
    border: rgb(80, 182, 50) solid 1px;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-between;
}

.main__second-title{
    color: black;
    background-color: rgb(80, 182, 50);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
    font-size: 22px;
}

.main__second-state{
    color: rgb(80, 182, 50);
    background-color:white ;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
    font-size: 22px;
}

.main__second-img{
    height: 15%;
}

.main__second-piont{
    color: white;
    background-color: rgb(80, 182, 50);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 25%;
    align-items: center;
}

.main__second-data{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
}



