.Phone{
    display: flex;
    height: 130px;
    background-color:$color__red;
    width: 100%;
    justify-content: center;
}

.Phone__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: row;
    width: 100%;
}

.Phone__section-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
}

.Phone__section-title{
    font-size: 35px;
    color:white ;
}

.Phone__section-text{
    width: 100%;
    color: white;
    font-size: 15px;
    line-height: 1.9;
}

.Phone__section-number{
    font-size: 30px;
    height: 60px;
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f83451;
    border-radius: 20px;
}


@media (max-width:1400px){

} 

@media (max-width:1200px){
        .Phone__section-number{
            width: 40%;
         }
         .Phone__section-title{
            font-size: 30px;
        }

  }

@media (max-width:1000px){
    .Phone{
        height: 230px;
    }
    .Phone__section{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    .Phone__section-title{
        font-size: 33px;
    }

 .Phone__section-number{
    width: 60%;
 }

 .Phone__section-info{
    width: 100%;
}
  }

  @media (max-width:800px){

  }

  @media (max-width:700px){

  }



