.Subscribe{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(105, 105, 163)
}


.Subscribe__main{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.Subscribe__title{
   height: 35%;
   color: white;
   font-size: 35px;
   box-sizing: border-box;
   position: relative;
   right: 20px;
}

.Subscribe__form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
  height: 20%;
}

.Subscribe__input{
    width: 75%;
    height: 100%;
    border: white solid 2px;
    background-color: rgba(128, 128, 128, 0);
}

.Subscribe__button{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    border-radius: 50px 50px 50px 50px ;
    color: white;
    border: 2px solid $color__red;
    background-color:$color__red ;
    font-size: 14px;
    width: 25%;
    position: relative;
    right: 20px;
}

@media (max-width:1400px){
    .Subscribe__form{
        width: 65%;
      }
} 

@media (max-width:1200px){
        .Subscribe__form{
            width: 65%;
          }
  }

@media (max-width:1000px){
    .Discount__main-info{
        width: 73%;
    }
    .Subscribe__form{
        width: 85%;
      }
  }

  @media (max-width:800px){
    .Discount__main-info{
        width: 83%;
    }
    .Subscribe__form{
        width:100%;
      }
  }

  @media (max-width:700px){
    .Discount__main-info{
        width: 100%;
    }

    .Subscribe__form{
        width: 100%;
        height: 15%;
      }

      .Subscribe__title{
        font-size: 30px;
     }
  }



