.header{
    width: 100%;
    display: flex;
    flex-direction:row;
    background-color:white;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
    background-color:white;
    transition: all 200ms ease;
}

.header_fixed{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.603);
  animation-name: show_header ;
  animation-duration: 0.5s;
  width: 100%;
  }
  
  @keyframes show_header{
      0%{
          opacity: 0;
          top: -120px;
        }
    100%{
           opacity: 1;
           top: 0px;
        }
  }

.titel__Dr{
    font-size: 25px;
    font-weight: 700;
}
.titel__PRO{
        font-size: 25px;
        color: $color__blue ;
        font-weight: 700;
 }
 .titel__PS{
    color: silver;
    width: 100%;
    font-size: 13px;
}

  .navigation__link{
    text-decoration: none;
  }
  .navigation__menu-item{
    @extend %navigation;  
    

  }
.navigation__menu-HOME{
    color: $color__blue;
    display: flex;
    padding: 10px;
    display: inline;
    text-decoration: none;
    font-weight: 600;
 }

 .contacts{
    display:flex ;
    width:330px;
    justify-content: space-between;
    width: 450px;
}
.number{
    display: flex;
    background-color: $color__blue;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 50px 50px 50px 50px  ;
    color: white;
    border: 2px solid $color__blue;
}

.header__button{
  @extend %buttonR;
  width:250px;
  margin-left: 10px;
  color:$color__red ;
  border-color:$color__red ;
  background-color:rgba(0,0,0,0);
 
  &:hover{
    color: white;
    background-color:$color__red ;
    border: 2px solid $color__red ;
    transition: 0.5s;
}
 }

.logo{
    display: flex;
    flex-direction: row;
  
    }
  .logo__backgraund{
      margin: 0px 15px 0px 15px;
      background-color: rgb(221, 220, 220);
      color: rgb(87, 86, 86);
      width: 35px;
      height:35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5px;
      &:hover{
        background-color: $color__blue;
        color: white;
        transition: 0.5s;
      }
    }
  