$color__blue: rgb(4, 216, 188) ;
$color__red:  #fd556d;
$color__grey: silver;
@import "menu";
@import "Button";
@import "GeneralHeader";
@import "Header";
@import "Banner";
@import "Apointment";
@import "Adventeges";
@import "Phone";
@import "Services";
@import "Subscribe";
@import "Footer"

